---
import Refragment01Layout from '../../../layouts/Refragment01Layout.astro'
---

<Refragment01Layout title="Character | Re:Fragment ~Absolute Ambition~">
    <body class="blog-details-page">

        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
              <a href="../../../" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="cafeaulait/img/logo.png" alt=""> -->
                <h1 class="sitename">AstralSeal</h1>
              </a>
              <nav id="navmenu" class="navmenu">
                <ul>
                  <li><a href="../../">Home</a></li>
                  <li><a href="../../#story">Story</a></li>
                  <li><a href="../../#concept">Concept</a></li>
                  <li><a class="active">Character</a></li>
                  <li><a href="../../#gallery">Gallery</a></li>
                  <li><a href="../../#product">Product</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
              </nav>
              <a href="#" class="btn-getstarted" style="background:black;" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-steam"></i> Steam (Coming Soon)</a>
            </div>
          </header>
      
        <main class="main">
      
      <!-- Page Title -->
      <div class="page-title" data-aos="fade">
        <div class="container section-title" data-aos="fade-up" style="padding-top:100px;">
          <h2>Character 02</h2>
        </div><!-- End Section Title -->
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="../../">Home</a></li>
              <li><a href="../">Character</a></li>
              <li class="current">02. Kusaka Yuno</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Page Title -->
        <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <!-- Blog Details Section -->
            <div id="blog-details" class="blog-details section">
                <div class="container">
                <article class="article">
                    <h2 class="title">Kusaka Yuno (六月一日 結乃)</h2>
                    <div class="content">
                    <h3>Avid Mobile Gacha Gamer Little Sister</h3><br/>
                    <p>The protagonist's little sister.</p><br/>
                    <p>She studies remotely through a homeschooling system and doesn't attend school like other kids her age due to her frail health. Because of this, she is extremely shy and anxious when meeting strangers, except for her brother.</p><br/>
                    <p>As she is mostly confined to her home, her hobby is mainly playing gacha games. She spends a lot of money on them and has become one of the top 10 players on the server.</p><br/>

                    <blockquote>
                        <p>
                          “Urgent server maintenance again?! Help me please~!”
                        </p>
                    </blockquote>

                    </div><!-- End post content -->

                </article>

                </div>
            </div><!-- /Blog Details Section -->

            <!-- Blog Author Section -->
            <!-- <section id="blog-author" class="blog-author section">

                <div class="container">
                <div class="author-container d-flex align-items-center">
                    <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                    <div>
                    <h4>Jane Smith</h4>
                    <div class="social-links">
                        <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                    </div>
                    <p>
                        Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                    </p>
                    </div>
                </div>
                </div>
            </section>--><!-- /Blog Author Section -->
            </div>

            <div class="col-lg-4 sidebar">
            <div class="widgets-container">
                <img src="/images/refragment01/chr_yuno_full.png" alt="" class="img-fluid">
            </div>
            </div>

        </div>
        </div>
</main>
</Refragment01Layout>