---
import Refragment01Layout from '../../../layouts/Refragment01Layout.astro'
import Menubar from '../../../components/refragment01/Menubar.astro'
---

<Refragment01Layout title="Character | Re:Fragment ~Absolute Ambition~">
    <body class="blog-details-page">

      <Menubar />
      
        <main class="main">
      
      <!-- Page Title -->
      <div class="page-title" data-aos="fade">
        <div class="container section-title" data-aos="fade-up" style="padding-top:100px;">
          <h2>Character 04</h2>
        </div><!-- End Section Title -->
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="../../">Home</a></li>
              <li><a href="../">Character</a></li>
              <li class="current">04. Iwano Akane</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Page Title -->
        <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <!-- Blog Details Section -->
            <div id="blog-details" class="blog-details section">
                <div class="container">
                <article class="article">
                    <h2 class="title">Iwano Akane (岩野 あかね)</h2>
                    <div class="content">
                      <b>Character's Voice:</b> Reilim &emsp;&emsp;  [<a href="https://www.youtube.com/@ReilimChannel">Youtube</a>] [<a href="https://x.com/Reilimiella">Twitter</a>] 
                      <br/><br/>
  
                      <hr/>
  
                      <br/>
                    <p>She is a member of the disciplinary committee who strictly obeys the letter of the law.</p><br/>
                    <p>Despite being a first-year student, her straitlaced demeanor terrifies the second-year and third-year students.</p><br/>

                    </div><!-- End post content -->

                </article>

                </div>
            </div><!-- /Blog Details Section -->

            <!-- Blog Author Section -->
            <!-- <section id="blog-author" class="blog-author section">

                <div class="container">
                <div class="author-container d-flex align-items-center">
                    <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                    <div>
                    <h4>Jane Smith</h4>
                    <div class="social-links">
                        <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                    </div>
                    <p>
                        Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                    </p>
                    </div>
                </div>
                </div>
            </section>--><!-- /Blog Author Section -->
            </div>

            <div class="col-lg-4 sidebar">
            <div class="widgets-container">
                <img src="/images/refragment01/chr_akane.png" alt="" class="img-fluid">
            </div>
            </div>

        </div>
        </div>
</main>
</Refragment01Layout>