---
import Refragment01Layout from '../../../layouts/Refragment01Layout.astro'
---
<Refragment01Layout title="Character | Re:Fragment ~Absolute Ambition~">
  <body class="blog-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="../../" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="cafeaulait/img/logo.png" alt=""> -->
          <h1 class="sitename">AstralSeal</h1>
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../#story">Story</a></li>
            <li><a href="../#concept">Concept</a></li>
            <li><a class="active">Character</a></li>
            <li><a href="../#gallery">Gallery</a></li>
            <li><a href="../#product">Product</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a href="#" class="btn-getstarted" style="background:black;" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-steam"></i> Steam (Coming Soon)</a>
      </div>
    </header>
  
    <main class="main">
  
      <!-- Page Title -->
      <div class="page-title" data-aos="fade">
        <div class="container section-title" data-aos="fade-up" style="padding-top:100px;">
          <h2>All Characters</h2>
        </div><!-- End Section Title -->
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">Character</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Page Title -->
  
      <!-- Blog Posts Section -->
      <section id="blog-posts" class="blog-posts section">
  
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <a href="./01reika"><img src="/images/refragment01/chr_reika2.png" alt="" class="img-fluid"></a>
                </div>
                <p class="post-category">Main Character 01</p>
                <h2 class="title">
                  <a href="./01reika">Kuromiya Reika</a>
                </h2>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <a href="./02yuno"><img src="/images/refragment01/chr_yuno2.png" alt="" class="img-fluid"></a>
                </div>
                <p class="post-category">Main Character 02</p>
                <h2 class="title">
                  <a href="./02yuno">Kusaka Yuno</a>
                </h2>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <a href="./03maya"><img src="/images/refragment01/chr_maya2.png" alt="" class="img-fluid"></a>
                </div>
                <p class="post-category">Main Character 03</p>
                <h2 class="title">
                  <a href="./03maya">Shirasaki Maya</a>
                </h2>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <img src="/images/refragment01/chr_comingsoon.png" alt="" class="img-fluid">
                </div>
                <p class="post-category">Protagonist</p>
                <h2 class="title">
                  <a href="#">Kusaka Yuuma</a>
                </h2>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <img src="/images/refragment01/chr_comingsoon.png" alt="" class="img-fluid">
                </div>
                <p class="post-category">Sub Character 01</p>
                <h2 class="title">
                  <a href="#">Name</a>
                </h2>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <img src="/images/refragment01/chr_comingsoon.png" alt="" class="img-fluid">
                </div>
                <p class="post-category">Sub Character 02</p>
                <h2 class="title">
                  <a href="#">Name</a>
                </h2>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <img src="/images/refragment01/chr_comingsoon.png" alt="" class="img-fluid">
                </div>
                <p class="post-category">Sub Character 03</p>
                <h2 class="title">
                  <a href="#">Name</a>
                </h2>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-3">
              <article>
                <div class="post-img">
                  <img src="/images/refragment01/chr_comingsoon.png" alt="" class="img-fluid">
                </div>
                <p class="post-category">Sub Character 04</p>
                <h2 class="title">
                  <a href="#">Name</a>
                </h2>
              </article>
            </div><!-- End post list item -->
          </div>
        </div>

        <div class="buttonrow text-center"> 
          <a href="../" class="btn btn-lg btn-purple"><i class="bi bi-arrow-left"></i> Back to Homepage </a>
        </div>
  
      </section><!-- /Blog Posts Section -->

      
  
    </main>
</Refragment01Layout>