---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import astralsealLogo from "~/assets/astralseal_logo.png";
---

<ContentSection title="About Us" id="about">
  <Fragment slot="lead">
    We strive to create 
    <span class="text-primary">visual novel</span><br /> 
    with passion, love, and seal.

    <div class="grid lg:grid-cols-3 gap-4 overflow-hidden">
        <p class="lg:col-start-2 text-center text-wrap">AstralSeal is a visual novel brand that debut in 2023. Aiming to create "innovative projects" and "cute and funny characters" with strong comedic elements.</p>
        <p class="lg:col-start-2 text-center text-wrap">Our 2nd project, "Memary: Memory of the nameless one" is currently available! Stay tuned for upcoming Project.</p>
    </div>
  </Fragment>
  <div class="grid grid-cols-1 gap-2">
    <a
      href="#about"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:arrow-right" class="size-8" />
      <span class="gradient-text">Read more</span>
    </a>
  </div>
</ContentSection>
