---
import ContactList from "~/components/contact-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { ContactItem } from "~/types";
import { Icon } from 'astro-icon/components'


const staff: Array<ContactItem> = [
  {
    title: "AstralAria",
    icon: "mdi:people",
    role: "Programmer",
    url: "https://github.com/pawutj",
  },
  {
    title: "Rayedge",
    icon: "mdi:people",
    role: "Artist",
    url: "https://twitter.com/reillusto",
  },
  {
    title: "Schrödinger Seal",
    icon: "mdi:people",
    role: "Scenario Writer",
    url: "#contact",
  },
  {
    title: "coregameHD",
    icon: "mdi:people",
    role: "PR Manager",
    url: "https://www.coregamehd.com",
  },
];

---

<ContentSection title="Contact Us" id="contact">
  <Fragment slot="lead">
    We'd love to hear from you! <br/>Please drop us an email <br/> <span class="text-primary">astralseal2023@gmail.com</span>
  </Fragment>
  <ContactList
    items={staff}
    title="Staff"
    url="https://www.facebook.com/AstralSeal2023"
  />
</ContentSection>