---
import Refragment01Layout from '../../layouts/Refragment01Layout.astro'
---
<Refragment01Layout title="Download | Re:Fragment ~Absolute Ambition~">
  <body class="blog-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="../../" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="cafeaulait/img/logo.png" alt=""> -->
          <h1 class="sitename">AstralSeal</h1>
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../#story">Story</a></li>
            <li><a href="../character">Character</a></li>
            <li><a href="../#gallery">Gallery</a></li>
            <li><a href="../special">Special</a></li>
            <li><a class="active">Download</a></li>
            <li><a href="../#product">Product</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a href="https://store.steampowered.com/app/3069410" class="btn-getstarted" style="background:black;" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-steam"></i> Steam</a>
      </div>
    </header>
  
    <main class="main">
        <!-- Page Title -->
        <div class="page-title" data-aos="fade">
            <div class="container section-title" data-aos="fade-up" style="padding-top:100px;">
            <h2>Download</h2>
            </div><!-- End Section Title -->
            <nav class="breadcrumbs">
            <div class="container">
                <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Download</li>
                </ol>
            </div>
            </nav>
        </div><!-- End Page Title -->

            <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">
        <div class="col-10 mx-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="container section-title" data-aos="fade-up">
              <h2>Full Version 18+ Patch</h2>
            </div>
            <img src="/images/refragment01/refragment01_patch1.webp" alt="" class="img-fluid services-img">
            <h3>Re:Fragment ~Absolute Ambition~ (Full Version) 18+ Patch</h3>
            <p>This patch adds the content of "Re:Fragment ~Absolute Ambition~" (Full Version) on Steam</p>
            <p style="color:red;">Full version only. You need to purchase game on Steam.</p>
            <br/>
            <h2>How to install:</h2>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Copy `patch.rpy` to the game installation directory. </span></li>
              <li><i class="bi bi-check-circle"></i> <span>The default installation path of the game is <br/> "C:\Program Files (x86)\Steam\steamapps\common\ReFragment ~Absolute Ambition~\game"</span></li>
            </ul>
            <br/>
            <h2>วิธีติดตั้ง:</h2>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>คัดลอก `patch.rpy` ไปไว้ที่โฟลเดอร์ติดตั้งเกม </span></li>
              <li><i class="bi bi-check-circle"></i> <span>ค่าเริ่มต้นของโฟลเดอร์ติดตั้งเกมคือ <br/> "C:\Program Files (x86)\Steam\steamapps\common\ReFragment ~Absolute Ambition~\game"</span></li>
            </ul>
            <br/>
            <div class="service-box">
              <h4>Download 18+ Patch</h4>
              <div class="download-catalog">
                <a href="https://drive.google.com/file/d/1k4OeXAJcSRCjYjx2dcLFQYB4PEJtpV69/view"><i class="bi bi-download"></i><span>Google Drive</span></a>
                <a href="https://patch.astralseal.com/download/refragment01/patch.rpa"><i class="bi bi-download"></i><span>Direct Link</span></a>
              </div>
          </div>
        </div>

        <div class="container">
          <div class="col-10 mx-auto" data-aos="fade-up" data-aos-delay="200">
              <div class="container section-title" data-aos="fade-up">
                <h2>Maya Special H-scene Patch</h2>
              </div>
              <img src="/images/refragment01/refragment01_patch2.webp" alt="" class="img-fluid services-img">
              <h3>Re:Fragment ~Absolute Ambition~ (Full Version) Maya Special H-scene Patch</h3>
              <p>This patch unlock Maya H-scene of "Re:Fragment ~Absolute Ambition~" (Full Version) on Steam</p>
              <br/>
              <h2>เงื่อนไข</h2>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span style="color:red;">Pre-order Exclusive Bonus : เนื้อหาพิเศษสำหรับผู้ที่สั่งจองเท่านั้น</span></li>
                <li><i class="bi bi-check-circle"></i> <span>สั่งจองล่วงหน้า (Pre-order) ได้ถึงวันที่ 28 กุมภาพันธ์ 2025 เท่านั้น</span></li>
                <li><i class="bi bi-check-circle"></i> <span>สั่งจองได้ที่ <a href="https://forms.gle/e2wnEJrhvU9u5kYG7">https://forms.gle/e2wnEJrhvU9u5kYG7</a></span></li>
              </ul>
              <br/>
              <div class="service-box">
                <h4>Download</h4>
                <div class="download-catalog">
                  <a href="https://patch.astralseal.com/mayaextra.html"><i class="bi bi-download"></i><span>Patch Download Site (Secret code is required - จำเป็นต้องกรอกรหัสลับ)</span></a>
                </div>
            </div>
          </div>

      <div class="container">
        <div class="col-10 mx-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="container section-title" data-aos="fade-up">
              <h2>Demo 18+ Patch</h2>
            </div>
            <img src="/images/refragment01/demo_18patch_cover.png" alt="" class="img-fluid services-img">
            <h3>Re:Fragment ~Absolute Ambition~ Demo 18+ Patch</h3>
            <p>This patch adds the content of "Re:Fragment ~Absolute Ambition~" (Demo) on Steam</p>
            <p style="color:red;">Demo version only.</p>
            <br/>
            <h2>How to install:</h2>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Copy `patch.rpy` to the game installation directory. </span></li>
              <li><i class="bi bi-check-circle"></i> <span>The default installation path of the game is <br/> "C:\Program Files (x86)\Steam\steamapps\common\ReFragment ~Absolute Ambition~ Demo\game"</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Open the game, and click the button in the upper-right corner.</span></li>
            </ul>
            <br/>
            <h2>วิธีติดตั้ง:</h2>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>คัดลอก `patch.rpy` ไปไว้ที่โฟลเดอร์ติดตั้งเกม </span></li>
              <li><i class="bi bi-check-circle"></i> <span>ค่าเริ่มต้นของโฟลเดอร์ติดตั้งเกมคือ <br/> "C:\Program Files (x86)\Steam\steamapps\common\ReFragment ~Absolute Ambition~ Demo\game"</span></li>
              <li><i class="bi bi-check-circle"></i> <span>เปิดเกม จากนั้นคลิ๊กที่ปุ่มบริเวณมุมขวาบน</span></li>
            </ul>
            <br/>
            <div class="service-box">
              <h4>Download 18+ Patch</h4>
              <div class="download-catalog">
                <a href="https://drive.google.com/file/d/17bRvb_hWdWkIGmlPGD3PcSpETANVDCSx/view?usp=sharing"><i class="bi bi-download"></i><span>Google Drive</span></a>
                <a href="https://1drv.ms/u/s!AmZNk4YWl6oCzFulYjZNhPI7i4Lp?e=hJJJ4p"><i class="bi bi-download"></i><span>Onedrive</span></a>
                <!-- <a href="#"><i class="bi bi-download"></i><span>Google Drive (Coming Soon)</span></a>-->
              </div>
          </div>
        </div>

        <div class="container">
            <div class="col-10 mx-auto" data-aos="fade-up" data-aos-delay="200">
  
              <div class="container section-title" data-aos="fade-up">
                <h2>Demo Version</h2>
              </div>
  
              <img src="/images/refragment01/demo_mainmenu.jpg" alt="" class="img-fluid services-img">
              <h3>Re:Fragment ~Absolute Ambition~ Demo</h3>
              <br/>
              <h2>Available - 11 October 2024 19:00 GMT+7</h2>
              <br/>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Text Language: English, Thai</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Voice Language: Thai (6 characters)</span></li>
              </ul>
              <br/>
              <div class="service-box">
                <h4>Download</h4>
                <div class="download-catalog">
                  <a href="https://store.steampowered.com/app/3069410"><i class="bi bi-download"></i><span>Steam</span></a>
                  
                </div>
            </div>
  
        </div>
  
      </section>

    


    </main>
</Refragment01Layout>