---
import Refragment01Layout from '../../layouts/Refragment01Layout.astro'
---
<Refragment01Layout title="Download | Re:Fragment ~Absolute Ambition~">
  <body class="blog-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="../../" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="cafeaulait/img/logo.png" alt=""> -->
          <h1 class="sitename">AstralSeal</h1>
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../#story">Story</a></li>
            <li><a href="/character">Character</a></li>
            <li><a href="../#gallery">Gallery</a></li>
            <li><a href="/special">Special</a></li>
            <li><a class="active">Download</a></li>
            <li><a href="../#product">Product</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a href="https://store.steampowered.com/app/3069410" class="btn-getstarted" style="background:black;" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-steam"></i> Steam</a>
      </div>
    </header>
  
    <main class="main">
        <!-- Page Title -->
        <div class="page-title" data-aos="fade">
            <div class="container section-title" data-aos="fade-up" style="padding-top:100px;">
            <h2>Download</h2>
            </div><!-- End Section Title -->
            <nav class="breadcrumbs">
            <div class="container">
                <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Download</li>
                </ol>
            </div>
            </nav>
        </div><!-- End Page Title -->

            <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

        <div class="container">
            <div class="col-10 mx-auto" data-aos="fade-up" data-aos-delay="200">
  
              <div class="container section-title" data-aos="fade-up">
                <h2>Demo Version</h2>
              </div>
  
              <img src="/images/refragment01/demo_mainmenu.jpg" alt="" class="img-fluid services-img">
              <h3>Re:Fragment ~Absolute Ambition~ Demo</h3>
              <br/>
              <h2>Available - 11 October 2024 19:00 GMT+7</h2>
              <br/>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Text Language: English, Thai</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Voice Language: Thai (6 characters)</span></li>
              </ul>
              <br/>
              <!-- 
              <h3>How to install</h3>
              <p>
                Copy `patch.rpy` to folder "\Steam\steamapps\common\The picture of Cafe au lait\game"
              </p>
              <p>
                คัดลอกไฟล์ `patch.rpy` to ไปไว้ที่โฟลเดอร์ "\Steam\steamapps\common\The picture of Cafe au lait\game"
              </p>
              -->
              <div class="service-box">
                <h4>Download</h4>
                <div class="download-catalog">
                  <a href="https://store.steampowered.com/app/3069410"><i class="bi bi-download"></i><span>Steam</span></a>
                  <!-- <a href="#"><i class="bi bi-download"></i><span>Google Drive (Coming Soon)</span></a>-->
                </div>
            </div>
  
        </div>
  
      </section><!-- /Service Details Section -->
  

    


    </main>
</Refragment01Layout>