---
import Refragment01Layout from '../../layouts/Refragment01Layout.astro'
---
<Refragment01Layout title="Home | Re:Fragment ~Absolute Ambition~">
<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
      <a href="../../" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="cafeaulait/img/logo.png" alt=""> -->
        <h1 class="sitename">AstralSeal</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#story">Story</a></li>
          <li><a href="./character">Character</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="./special">Special</a></li>
          <li><a href="./download">Download</a></li>
          <li><a href="#product">Product</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a href="https://store.steampowered.com/app/3069410" class="btn-getstarted" style="background:black;" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-steam"></i> Steam</a>
    </div>
  </header>

  <main class="main">
    <!-- Hero Section -->
    <section id="home" class="hero section">
      <!--<img src="/images/memary/cover3.jpg" srcset="/images/memary/cover2.jpg 1000w">-->
      <img src="/images/refragment01/key1_logo.png" alt="coverimage" class="img-responsive">
      <!-- <img src="/images/refragment01/library_capsule.png" alt="coverimage" class="img-responsive mobile">-->
    </section><!-- /Hero Section -->
    <!-- <img src="/images/refragment01/library_logo.png" alt="logo" class="img-responsive productlogo">-->

    <!-- Story Section -->
    <section id="story" class="services section">
      <!-- Story Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Story</h2>
      </div><!-- End Story Title -->
      <div class="container">
        <div class="row gy-4">
          <div class="col-10 col-xl-8 mx-auto text-left mainstory" data-aos="fade-up" data-aos-delay="100">
            <p>Silverseal Private Academy is a pioneering model school where students have the unique opportunity to shape their school environment democratically. Decisions are made collectively by voting and those that secure a majority are enacted as policies.</p><br />
            <p><b>Kusaka Yuuma</b>, the main protagonist, is the treasurer of the student council. He works alongside 
              his childhood friend <b>Kuromiya Reika</b>, the popular and respected student council president. She is a ray of sunshine that commands the attention of people wherever she goes.</p><br />
            <p>Yuuma lives a tranquil student life, blissfully unaware of the storm brewing on the horizon. That is, until Reika unveils a new controversial policy that sparks widespread debate. Disrupting their lives and turning their world upside down, changing everything they once knew forever.</p><br />
            <p>
              This is the story of ambitious teenagers confronted with a reality far removed from 
              their expectations. Will they be able to navigate a life that sabotages them at every turn? 
              It all depends on “you”.
            </p>
          </div>
        </div>
      </div>
    </section><!-- /Story Section -->

    <!-- Call To Action Section -->
    <!-- <section id="concept" class="call-to-action section">
      <img src="/images/refragment01/page_bg2.png" alt="">
      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <div class="container section-title" data-aos="fade-up">
                <h2 style="color:white;">Concept</h2>
              </div>
              <p><b>
                To you, who is drowning in despair.
              </b></p><br />
              <p>We all dream of a bright future ahead.<br />
                But life doesn't always turn out how you expected.<br />
                Harsh realities crush our spirits completely,<br />
                Leaving only disappointment and hopelessness.</p><br />
              <p>Re:Fragment is a story of young people full of dreams.<br />
                Our characters strive with all their might,<br />
                But things don't go as planned.<br />
                Their inexperience and naivety lead to mistakes.</p><br />
              <p>These young people have to live through painful days,<br />
                embracing their suffering, soothing their wounded hearts,<br />
                learning to live with loss, transforming it into a powerful drive,<br />
                preparing themselves for the journey of growing into adults.</p>
            </div>
          </div>
        </div>
      </div>
    </section>--><!-- /Call To Action Section -->


        <!-- Character Section -->
        <section id="character" class="recent-posts section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Character</h2>
          </div><!-- End Section Title -->
          <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4">
              <!-- Swiper -->
              <div class="swiper init-swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a href="./character/01reika"><img src="/images/refragment01/CharacterSheet01_Reika_en.png" alt="Reika" data-aos="fade-in"></a></div>
                  <div class="swiper-slide"><a href="./character/02yuno"><img src="/images/refragment01/CharacterSheet02_Yuno_en.png" alt="Yuno" data-aos="fade-in"></a></div>
                  <div class="swiper-slide"><a href="./character/03maya"><img src="/images/refragment01/CharacterSheet03_Maya_en.png" alt="Maya" data-aos="fade-in"></a></div>
                  <div class="swiper-slide"><img src="/images/refragment01/CharacterSheet04-06_en.png" alt="SideCharacters" data-aos="fade-in"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>

          <!-- 
          <div class="container">
            <div class="row gy-4">
              <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <article>
    
                  <div class="post-img">
                    <a href="./character/01reika"><img src="/images/refragment01/chara_reika2.png" alt="" class="img-fluid"></a>
                  </div>
    
                  <p class="post-category">Flawless Student Council President</p>
                  <h2 class="title">
                    <a href="./character/01reika">Kuromiya Reika</a>
                  </h2>
                  <div class="d-flex align-items-center">
                    <div class="post-meta">
                      <p>Silverseal Private Academy student council president. </p><br/>
                      <p>She excels at every aspect, boasting an outstanding academic performance with top grades for every subject in her year. The only subject that she can never ace is Math, where she is beaten by our protagonist Yuuma.</p>
                    </div>
                  </div>
    
                </article>
              </div>
    
              <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <article>
    
                  <div class="post-img">
                    <a href="./character/02yuno"><img src="/images/refragment01/chara_yuno2.png" alt="" class="img-fluid"></a>
                  </div>
    
                  <p class="post-category">Avid Mobile Gacha Gamer Little Sister</p>
                  <h2 class="title">
                    <a href="./character/02yuno">Kusaka Yuno</a>
                  </h2>
                  <div class="d-flex align-items-center">
                    <div class="post-meta">
                      <p>The protagonist's little sister.</p><br/>
                      <p>She studies remotely through a homeschooling system and doesn't 
                        attend school like other kids her age due to her frail health. 
                        Because of this, she is extremely shy and anxious when meeting 
                        strangers, except for her brother.</p>
                    </div>
                  </div>
    
                </article>
              </div>
    
              <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>
    
                  <div class="post-img">
                    <a href="./character/03maya"><img src="/images/refragment01/chara_maya2.png" alt="" class="img-fluid"></a>
                  </div>
    
                  <p class="post-category">Kind-hearted and Trendy Girl</p>
                  <h2 class="title">
                    <a href="./character/03maya">Shirasaki Maya</a>
                  </h2>
                  <div class="d-flex align-items-center">
                    <div class="post-meta">
                      <p>An upperclassman who is friendly and gets along effortlessly 
                        with everyone. </p><br/>
                        <p>With her attractive figure and charm, she undoubtedly 
                        always becomes the center of attention.</p><br/>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
          -->
          <div class="buttonrow text-center" data-aos="fade-up" data-aos-delay="300"> 
          <a href="./character" class="btn btn-lg btn-purple">All Characters <i class="bi bi-arrow-right"></i></a>
          </div>
        </section><!-- /Character Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="portfolio section">
      <!-- Gallery Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
      </div><!-- End Gallery Title -->
      <div class="container">
        <div class="container" data-aos="fade-up">
          <div class="row g-4">
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/ss1.png" class="img-fluid glightbox" alt="">
            </div>
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/ss2.png" class="img-fluid glightbox" alt="">
            </div>
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/ss3.png" class="img-fluid glightbox" alt="">
            </div>
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/ss4.png" class="img-fluid glightbox" alt="">
            </div>
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/ss5.png" class="img-fluid glightbox" alt="">
            </div>
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/ss6.png" class="img-fluid glightbox" alt="">
            </div>
            <!-- 
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/comingsoon.png" alt="">
            </div>
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/comingsoon.png" alt="">
            </div>
            <div class="col-6 col-xl-4">
              <img src="/images/refragment01/gallery/comingsoon.png" alt="">
            </div>
            -->
          </div>
        </div>
      </div>
    </section><!-- /Gallery Section -->

    <!-- Product Section -->
    <section id="product" class="features section">
      <!-- Product Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Product</h2>
      </div><!-- End Product Title -->
      <div class="container">
        <div class="row gy-4 align-items-center features-item">
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <dl>
              <dt>Title</dt>
              <dd>Re:Fragment ~Absolute Ambition~</dd>
              <dt>Language</dt>
              <dd>English, Thai (ภาษาไทย)</dd>
              <dt>Release Date</dt>
              <dd>Early 2025</dd>
              <dt>Platform</dt>
              <dd>Windows (Steam)</dd>
              <dt>Price</dt>
              <dd>To Be Determined</dd>
              <dt>Rating</dt>
              <dd>Steam: All Ages</dd>
              <dd>Special adults DLC (aka. 18+ Patch) will be available free of charge.</dd>
            </dl>
            <div class="buttonrow">
            <a href="https://store.steampowered.com/app/3069410" class="btn btn-dark" target="_blank" rel="noopener noreferrer"><i class="bi bi-steam"></i>
              Steam</a>
            <a href="https://vndb.org/v51388" class="btn btn-purple" target="_blank" rel="noopener noreferrer"><i class="bi bi-link-45deg"></i> VNDB</a>
            </div>
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
              <img src="/images/refragment01/main_sample.png" alt="" class="stack-front">
              <img src="/images/refragment01/gallery/ss3.png" alt="" class="stack-back">
            </div>
          </div>   
        </div>
      </div>
    </section><!-- /Product Section -->

    <section id="info" class="contact section">
      <div class="container contact" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
                <h3 class="text-center">Cast</h3>
                <ul>
                  <li><b>Reika</b></li>
                  <li>Pugko <a href="https://www.youtube.com/@pugko">[Youtube]</a> <a href="https://x.com/Pugko_">[Twitter]</a></li>
                  <li><b>Yuno</b></li>
                  <li>AidenShia <a href="https://www.youtube.com/@aidenshia">[Youtube]</a> <a href="https://x.com/aidenshia">[Twitter]</a></li>
                  <li><b>Maya</b></li>
                  <li>Furorin <a href="https://www.youtube.com/@Furorinlor">[Youtube]</a> <a href="https://x.com/Furorinlor">[Twitter]</a></li>
                  <li><b>Akane</b></li>
                  <li>Reilim <a href="https://www.youtube.com/@ReilimChannel">[Youtube]</a> <a href="https://x.com/Reilimiella">[Twitter]</a></li>
                  <li><b>Kazuma</b></li>
                  <li>Ryuji <a href="https://www.youtube.com/@RyujiCH">[Youtube]</a> <a href="https://x.com/Ryuji_CH">[Twitter]</a></li>
                  <li><b>Risa-sensei</b></li>
                  <li>Karin Tsutsuji <a href="https://www.youtube.com/@KarinTsutsuji">[Youtube]</a> <a href="https://x.com/Karin_Tsutsuji">[Twitter]</a></li>
                </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
                <h3 class="text-center">Staff</h3>
                <dt>Director / Scenario Writer</dt>
                <dd>coregameHD</dd>
                <dt>Artist / Character Design</dt>
                <dd>Rayedge</dd>
                <dd>Woofy</dd>
                <dt>Staff</dt>
                <dd>Programming</dd>
                <dd>AstralAria</dd>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="info2" class="contact section">
      <div class="container contact" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <h3 class="text-center">Spec</h3>
              <dt>Operating System</dt>
              <dd>Windows 10/11 (64-bit)</dd>
              <dt>Storage</dt>
              <dd>~3 GB</dd>
              <dt>Screen Size</dt>
              <dd>Full HD (1920 x 1080 px)</dd>
              <dd>Resizable in window mode</dd>
              <dt>Game Engine</dt>
              <dd>Ren'Py</dd>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <h3 class="text-center">Disclaimer</h3>
              <p>This game contains mature themes that are not suitable for minors. Some dialogues contain talks and discussions about traumatic themes like self-harm, suicide, and sexual abuse.</p><br/>
              <p>Characters, places and events are fictional - resemblance of real-world people, places or events is purely coincidental.</p><br/>
              <p>All characters that appear in any visual depiction are at least 18 years of age or older.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<!-- Faq Section -->
<section id="faq" class="faq section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="content px-xl-5">
          <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
          <p>
            Can't find answer? Please send email or direct message us
          </p>
        </div>
      </div>
      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
        <div class="faq-container">
          <div class="faq-item faq-active">
            <h3><span class="num">1.</span> <span>Can I translate this game to my native language?</span></h3>
            <div class="faq-content">
              <p>Yes, you can create custom fan-translation patches. We appreciate your efforts. No need to ask for permission.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">2.</span> <span>Will there be a mobile port? (e.g. iOS, Android)</span></h3>
            <div class="faq-content">
              <p>Unfortunately, we don't plan to port this game.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">3.</span> <span>How to contact us?</span></h3>
            <div class="faq-content">
              <p>Email - astralseal2023@gmail.com <br>
                X (Twitter) - <a href="https://twitter.com/AstralSeal2023">https://twitter.com/AstralSeal2023</a> <br>
                Facebook - <a href="https://facebook.com/AstralSeal2023">https://facebook.com/AstralSeal2023</a></p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

        </div>
      </div>
    </div>
  </div>
</section><!-- /Faq Section -->

  </main>
</Refragment01Layout>