---
import Refragment01Layout from '../../layouts/Refragment01Layout.astro'
---
<Refragment01Layout title="Special | Re:Fragment ~Absolute Ambition~">
  <body class="blog-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="../../" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="cafeaulait/img/logo.png" alt=""> -->
          <h1 class="sitename">AstralSeal</h1>
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../#story">Story</a></li>
            <li><a href="../character">Character</a></li>
            <li><a href="../#gallery">Gallery</a></li>
            <li><a class="active">Special</a></li>
            <li><a href="../download">Download</a></li>
            <li><a href="../#product">Product</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a href="https://store.steampowered.com/app/3069410" class="btn-getstarted" style="background:black;" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-steam"></i> Steam</a>
      </div>
    </header>
  
    <main class="main">

            <!-- Page Title -->
            <div class="page-title" data-aos="fade">
              <div class="container section-title" data-aos="fade-up" style="padding-top:100px;">
                <h2>Special</h2>
              </div><!-- End Section Title -->
              <nav class="breadcrumbs">
                <div class="container">
                  <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Special</li>
                  </ol>
                </div>
              </nav>
            </div><!-- End Page Title -->
  

    
        <section id="gallery" class="portfolio section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>VTuber Collaboration</h2>
          </div><!-- End Section Title -->
          <div class="container">
            <div class="container" data-aos="fade-up">
              <img src="/images/refragment01/vtuber/vtubercollab_all.jpg" alt="" class="img-fluid services-img">
              <div class="row g-4">
                <div class="col-6 col-xl-4">
                  <img src="/images/refragment01/vtuber/vtubercollab_reika_pugko.PNG" class="img-fluid glightbox" alt="Pugko (https://www.youtube.com/@pugko)">
                </div>
                <div class="col-6 col-xl-4">
                  <img src="/images/refragment01/vtuber/vtubercollab_yuno_aidenshia.PNG" class="img-fluid glightbox" alt="AidenShia (https://www.youtube.com/@aidenshia)">
                </div>
                <div class="col-6 col-xl-4">
                  <img src="/images/refragment01/vtuber/vtubercollab_maya_furorin.PNG" class="img-fluid glightbox" alt="Furorin (https://www.youtube.com/@Furorinlor)">
                </div>
                <div class="col-6 col-xl-4">
                  <img src="/images/refragment01/vtuber/vtubercollab_akane_reilim.PNG" class="img-fluid glightbox" alt="Reilim (https://www.youtube.com/@ReilimChannel)">
                </div>
                <div class="col-6 col-xl-4">
                  <img src="/images/refragment01/vtuber/vtubercollab_risa_karin.PNG" class="img-fluid glightbox" alt="Karin Tsutsuji (https://www.youtube.com/@KarinTsutsuji)">
                </div>
                <div class="col-6 col-xl-4">
                  <img src="/images/refragment01/vtuber/vtubercollab_kazuma_ryuji.PNG" class="img-fluid glightbox" alt="Ryuji (https://www.youtube.com/@RyujiCH)">
                </div>
              </div>
            </div>
            <div class="container" data-aos="fade-up">
              <br/><h2>From left to right:</h2>
              <ul>
                <li><b>Reika</b> → Pugko (<a href="https://www.youtube.com/@pugko">https://www.youtube.com/@pugko</a>)</li>
                <li><b>Yuno</b> → AidenShia (<a href="https://www.youtube.com/@aidenshia)">https://www.youtube.com/@aidenshia)</a></li>
                <li><b>Maya</b> → Furorin (<a href="https://www.youtube.com/@Furorinlor">https://www.youtube.com/@Furorinlor</a>)</li>
                <li><b>Akane</b> → Reilim (<a href="https://www.youtube.com/@ReilimChannel">https://www.youtube.com/@ReilimChannel</a>)</li>
                <li><b>Risa-sensei</b> → Karin Tsutsuji (<a href="https://www.youtube.com/@KarinTsutsuji">https://www.youtube.com/@KarinTsutsuji</a>)</li>
                <li><b>Kazuma</b> → Ryuji (<a href="https://www.youtube.com/@RyujiCH">https://www.youtube.com/@RyujiCH</a>)</li>
              </ul>
            </div><!-- End Section Title -->
          </div>

<!-- 
      </section>
          <section id="service-details" class="service-details section">
            <div class="container">
                <div class="col-10 mx-auto" data-aos="fade-up" data-aos-delay="200">
                  <div class="container section-title" data-aos="fade-up">
                    <h2>Mini Game</h2>
                  </div>
                  <img src="/images/refragment01/special/minigame.png" alt="" class="img-fluid services-img">
                  <h3>Description</h3>
                  <p>
                    Classic brick-breaking game. Player have to control a paddle at the bottom of the screen, bouncing a ball to destroy layers of colorful bricks above.
                  </p>
                  <p>
                    Players who successfully complete level are rewarded with an exclusive wallpaper.
                  </p>
                  <div class="service-box">
                    <h4>Play now</h4>
                    <div class="download-catalog">
                      <a href="https://astralseal-flashgame.vercel.app/"><span>https://astralseal-flashgame.vercel.app/</span></a>
                    </div>
                </div>
            </div>
      </section>
    -->

    </main>
</Refragment01Layout>