<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
      <a href="../../../" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1 class="sitename">AstralSeal</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="../../">Home</a></li>
          <li><a href="../../#story">Story</a></li>
          <li><a class="active">Character</a></li>
          <li><a href="../../#gallery">Gallery</a></li>
          <li><a href="../../special">Special</a></li>
          <li><a href="../../download">Download</a></li>
          <li><a href="../../#product">Product</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a href="https://store.steampowered.com/app/3069410" class="btn-getstarted" style="background:black;" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-steam"></i> Steam</a>
    </div>
</header>