---
import CafeaulaitLayout from '../../layouts/CafeaulaitLayout.astro'
---
<CafeaulaitLayout title="Special | The Picture of Café au lait">
<body class="services-details-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="cafeaulait/img/logo.png" alt=""> -->
        <h1 class="sitename">AstralSeal</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./#story">Story</a></li>
          <li><a href="./#character">Character</a></li>
          <li><a href="./#gallery">Gallery</a></li>
          <li><a href="#" class="active">Special</a></li>
          <li><a href="./#product">Product</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a href="https://store.steampowered.com/app/2414020" class="btn-getstarted" style="background:black;"><i class="bi bi-steam"></i> Steam</a>
    </div>
  </header>

  <main class="main">

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">
          <div class="col-10 mx-auto" data-aos="fade-up" data-aos-delay="200">

            <div class="container section-title" data-aos="fade-up">
              <h2>After Story Patch</h2>
              <p>Patch เนื้อหาพิเศษ (18+)</p>
            </div>

            <img src="img/afterstorypatch.jpg" alt="" class="img-fluid services-img">
            <h3>The Picture of Café au lait - After Story Patch</h3>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Data Size: 86 MB</span></li>
              <li><i class="bi bi-check-circle"></i> <span>File Format: .zip</span></li>
            </ul>
            <h4>How to install</h4>
            <p>
              Copy `patch.rpy` to folder "\Steam\steamapps\common\The picture of Cafe au lait\game"
            </p>
            <p>
              คัดลอกไฟล์ `patch.rpy` to ไปไว้ที่โฟลเดอร์ "\Steam\steamapps\common\The picture of Cafe au lait\game"
            </p>

            <div class="service-box">
              <h4>Download</h4>
              <div class="download-catalog">
                <a href="https://drive.google.com/file/d/1UvKlWf88hJpTk7DyTsjwTM1UE2jczqKn/view"><i class="bi bi-file-earmark-zip"></i><span>Google Drive</span></a>
                <a href="#"><i class="bi bi-file-earmark-zip"></i><span>Onedrive (Coming Soon)</span></a>
              </div>
          </div>

      </div>

    </section><!-- /Service Details Section -->

    <section id="gallery" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Special Wallpapers</h2>
        <p>ภาพฉลองพิเศษ</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="container" data-aos="fade-up">
          <div class="row g-4">
            <div class="col-6 col-xl-4">
              <img src="img/special/basketball.jpg" class="img-fluid glightbox" alt="">
            </div>
  
            <div class="col-6 col-xl-4">
              <img src="img/special/newyear2024.jpg" class="img-fluid glightbox" alt="">
            </div>

          <div class="col-6 col-xl-4">
            <img src="img/special/valentine2024.jpg" class="img-fluid glightbox" alt="">
          </div>

          <div class="col-6 col-xl-4">
            <img src="img/special/pantsu.jpg" class="img-fluid glightbox" alt="">
          </div>
        </div>
      </div>
      </div>
    </section><!-- /Portfolio Section -->
  </main>
</CafeaulaitLayout>