.mainstory {
  font-size: 125%;
}

@media only screen and (max-device-width: 480px) {
  .img-responsive {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
  }
}

dt {
  margin-top: 8px;
}

.buttonrow {
  margin-top: 1.25rem;
}